body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
    text-align: center;
}

header {
    padding: 60px 20px;
}

h1 {
    font-size: 48px;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #0f172a;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Header adjustment */
header {
    padding-top: 150px;
}

/* Button */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #3b82f6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #2563eb;
}

/* Projects */
.project-card {
    background-color: #1e293b;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 10px;
}


